@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.auth-layout {
  @include flex-center;
  min-height: 100vh;
  padding: $spacing-4;

  &__container {
    width: 100%;
    max-width: 800px;
  }

  &__header {
    text-align: center;
    margin-bottom: $spacing-8;
  }

  &__logo {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $color-accent-primary;
  }
}
