@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.onboarding {
  @include flex-center;
  min-height: 100vh;
  background-color: $color-bg-primary;
  padding: $spacing-4;

  &__container {
    width: 100%;
    max-width: 480px;
  }

  &__header {
    text-align: center;
    margin-bottom: $spacing-8;
  }

  &__logo {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $color-accent-primary;
  }

  &__subtitle {
    color: $color-text-secondary;
    margin-top: $spacing-2;
  }

  &__content {
    margin-top: $spacing-6;
  }
}
