@use '../../../styles/variables' as *;

.scheduling {
  &__header {
    margin-bottom: $spacing-6;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
  }

  &__placeholder {
    color: $color-text-muted;
  }
}
