@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.feed {
  &__header {
    margin-bottom: $spacing-6;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
  }

  &__cards {
    @include flex-column;
    gap: $spacing-4;
  }

  &__skeletons {
    @include flex-column;
    gap: $spacing-4;
  }

  &__error {
    @include flex-column;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-8 $spacing-4;
    text-align: center;
  }

  &__error-message {
    color: $color-text-secondary;
    font-size: $font-size-base;
  }

  &__generate {
    display: flex;
    justify-content: center;
    margin-top: $spacing-6;
  }

  &__empty {
    @include flex-column;
    align-items: center;
    gap: $spacing-4;
    padding: $spacing-12 $spacing-4;
    text-align: center;
  }

  &__empty-message {
    color: $color-text-secondary;
    font-size: $font-size-base;
  }
}
